extends layout
block content
	
	form(action="/tasks", method="POST")
		div
			label Task Name: 
			input(type="text",name="name",placeholder="Add a new task")
		div
			input(type="submit",value="Add Task")

	each task, i in tasks
		p #{ task.id } - #{ task.name }
		p (Created at: )
block footer
    p you have #{ tasks.length } tasks completed
