extends layout
block content
	ul.completedList
		each task in tasks
			if task.completed
				li #{task.name}  ·  
					em Completed at: 
block footer
	p 
		em You have #{ tasks.length } tasks completed.


