doctype
html(lang="en")
	head
		title= "ToDo App"
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			header
				nav
					ul.menu
						li.tasks
							a(href="/tasks") List Tasks
						li.completed.inactive
							a(href="/completed") Completed Tasks
				.alert.alert-success Task was removed
				
				h1= title
				p Welcome to the ToDo app by #[a(href="http://github.com/Tsuna-mi", target="_blank") @tsuna-mi  ]Enjoy!!
			.main-content
				block content

			footer
				block footer
		
		script(src="https://code.jquery.com/jquery-2.2.4.js")
		script(src="/js/main.js")