extends layout

block content
	div.row
		form.form(action="/tasks", method="POST")
			div.form-group
				div.input-group
					input.form-control(type="text", name="name", placeholder="Add a new task", required)
					span.input-group-btn
						button.btn.btn-primary(type="submit") Add Task
		
	ul.tasks
		each task, i in tasks
			li #{ task.id } - #{ task.name } 
				a(href="/tasks?id=#{ task.id }") delete
			//-montamos una url dinámica para capturar el click del enlace con jquery
			//-si lo hacemos con button, en html sería algo así:
			//-<input type="button" onclick="location.href='http://google.com';" value="Go to Google" />  Con la url que nos tengamos que montar
			p (Created at: )

block footer
	p 
		em You have created #{ tasks.length } tasks.