body{
	background-color: black;
	color: gray;
	padding: 20px;
}
nav ul{
	list-style: none;
	padding-left: 0;
	padding-bottom: 8px;
	border-bottom: 1px solid gray;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a, a:link, a:visited, a:hover, a:active {
    outline: 0;
    text-decoration: none;
    color: white;
}
h1,h2{
	color:white;
}

.container{
	padding:30px 15px;
	max-width: 450px;
	min-width: 300px;
}
form{
	max-width: 400px;
	margin: 0 auto;
	padding-bottom: 20px;
}
ul.tasks{
	list-style: none;
	padding-left: 0;
}
ul.tasks li{
	padding-bottom: 20px;
}
ul.tasks li p{
	color: white;
}
span.dblock{
	display: block;
	font-size: small;
}
.tasks .btn{
	border-radius: 10px;
	padding: 6px;
	font-size: smaller;
}
footer{
	padding-top: 20px;
}